<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Formulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/contratos/ajuste/sobrecomsion/new']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">



    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{modulo}}
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">



              <div class="content">
                <form>
                  <div class="row">
                    <div class="col-xs-12 col-md-2">
                      <div class="form-group">
                        <label for="inputEmail4">Contrato</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Contrato">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                      <div class="form-group">
                        <label for="inputEmail4">Fecha Corte</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Fecha Corte">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                      <div class="form-group">
                        <label for="inputEmail4">Ramo</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Ramo">
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                      <div class="form-group">
                        <label for="inputEmail4">Reasegurador</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Reasegurador">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                
                    </div>
                    

                    <div class="col-xs-12 col-md-1">
                      <div class="form-group">
                        <label for="inputEmail4">Año Ini</label>
                        <select id="anio1" class="form-control">

                          <option>2018</option>
                          <option>2017</option>
                          <option>2016</option>
                          <option>2015</option>
                          <option>2014</option>
                          <option>2013</option>
                          <option>2012</option>
                          <option>2011</option>
                          <option>2010</option>
                          <option>2009</option>
                          <option>2008</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-1">
                      <div class="form-group">

                        <label for="inputEmail4">Año Fin</label>
                        <select id="anio2" class="form-control">
                          <option>
                            2018</option>
                          <option>2017</option>
                          <option>2016</option>
                          <option>2015</option>
                          <option>2014</option>
                          <option>2013</option>
                          <option>2012</option>
                          <option>2011</option>
                          <option>2010</option>
                          <option>2009</option>
                          <option>2008</option>
                        </select>

                      </div>
                    </div>







                  </div>
                  <div class="row " style="margin-bottom: 5px">
                    <div class=" col-xs-12 col-md-4 col-md-offset-8 text-right">
                      <button type="button" class=" enviar btn btn-info margin-left btn-md shadow-box-item">
                        Enviar
                        <i class="favb fa fa-circle">
                        </i>
                      </button>
                      <button type="button" class="btn btn-info margin-left btn-md shadow-box-item">
                        Descargar
                        <i class="favb fa fa-circle">
                        </i>
                      </button>

                    </div>
                  </div>

                  <!-- oficina de representacion -->
                  <div class="row ">
                    <div class="col-md-12">
                      <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">
                           CARACTERISTICAS CONTRATO
                          </h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">



                            <div class="content">
                              <form>
                                <div class="row">
                                  <div class="col-xs-12 col-md-12">

                                    <div>
                                      <table class="table hoverTable ">
                                        <thead>
                                          <tr>
                                            <th>Contrato</th>
                                            <th>Nombre del Contrato</th>
                                            <th>Ramo</th>
                                            <th>Nombre del Ramo</th>
                                            <th>Cob.</th>
                                            <th>Límite</th>
                                            <th>Prioridad</th>
                                            <th>Tasa Mínima</th>
                                            <th>Tasa Máxima</th>
                                            <th>Factor de Ajuste</th>
                                            <th>Mindep</th>
                                            <th>Moneda</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>



                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-md-6">
                      <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">
                           DETALLE DE PRIMAS

                          </h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                  
                  
                  
                            <div class="content">
                              <form>
                                <div class="row">
                                  <div class="col-xs-12 col-md-12">
                  
                                    <div>
                                  <table class="table hoverTable ">
                                    <thead>
                                      <tr>
                                        <th>Ramo</th>
                                        <th>Nombre  Ramo</th>
                                        <th>Primas Emitidas</th>
                                        <th>Facultativo Cedido</th>
                                        <th>Automático Cedido</th>
                                        <th>Primas Retenidas</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td>Total Primas:</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>

                  
                                    </div>
                  
                  
                  
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">
                             DETALLE SINIESTROS

                          </h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                    
                    
                    
                            <div class="content">
                              <form>
                                <div class="row">
                                  <div class="col-xs-12 col-md-12">
                    
                                    <div>

                                      <table class="table hoverTable ">
                                        <thead>
                                          <tr>
                                            <th>Ramo</th>
                                            <th>Nombre del Ramo</th>
                                            <th>Pagados</th>
                                            <th>Pendientes</th>
                                            <th>Incurridos</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>Total Siniestros</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>

                    
                                    </div>
                    
                    
                    
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    
                      </div>
                    </div>
                  </div>


                  <div class="row ">
                    <div class="col-md-6 col-md-offset-3">
                      <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">
                             TASA FINAL DE AJUSTE

                  
                          </h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                  
                  
                  
                            <div class="content">
                              <form>
                                <div class="row">
                                  <div class="col-xs-12 col-md-12">
                  
                                    <div>
                                    <table class="table hoverTable ">
                                      <thead>
                                        <tr>
                                          <th>Porcentaje</th>
                                          <th>Valor Prima Final</th>
                                          <th>Valor Otra Moneda</th>
                                          <th>Ajuste por Ramo</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <strong>Total MINDEP</strong>
                                          </td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <strong>Liquidación Anterior</strong>
                                          </td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <strong>Ajuste Final Contrato</strong>
                                          </td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>

                  
                                    </div>
                  
                  
                  
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
               
                  </div>

                  <!-- oficina de representacion -->
<div class="row ">
  <div class="col-md-4 col-md-offset-5">
                  <button type="button" class="btn btn-info margin-left btn-md shadow-box-item">
                    Guardar
                    <i class="favb fa fa-circle">
                    </i>
                  </button>
                      <button  data-toggle="modal" data-target="#myModal" title="Detalle por Reasegurador " type="button" class="btn btn-info margin-left btn-md shadow-box-item">
                        Detalle por Reasegurador
                        <i class="favb fa fa-circle">
                        </i>
                      </button>
</div>
</div>
                </form>
              </div>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>






  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Detalle por Reasegurador</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="inputEmail4">Contrato</label>
                <input type="text" class="form-control" id="datepicker">

              </div>
            </div>
            <div class="col-xs-4 ">
              <div class="form-group">
                <label for="inputEmail4">Fecha Corte</label>
                <input type="text" class="form-control" id="datepicker">
            
              </div>
            </div>
      
            <div class="col-xs-4 ">
              <div class="form-group">
                <label for="inputEmail4">Ramo</label>
                <input type="text" class="form-control" id="datepicker">
          
              </div>
            </div>
         
          </div>
          <div class="row">
            <div class="col-xs-6 ">
              <div class="form-group">
                <label for="inputEmail4">A&ntilde;o Ini</label>
                <select  class="form-control">
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6 ">
              <div class="form-group">
                <label for="inputEmail4">A&ntilde;o Fin</label>
                <select  class="form-control">
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
            <table class="table hoverTable ">
              <thead>
                <tr>
                  <th>Corredor</th>
                  <th>Reasegurador</th>
                  <th>% Participación</th>
                  <th>Valor Ajuste</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
             
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <strong>Ajuste Final Contrato</strong>
                  </td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>

            </div>
          </div>
        
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>