<header class="main-header">
  <!-- Logo -->
  <a [routerLink]="['/admin']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="assets/img/icon_logo.png" alt="ACRESAR"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"> <img src="assets/img/logo_login_reaseguros.png"  alt="ACRESAR"> 
 </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Cambiar Navegación</span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">Tienes 4 mensajes</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Secretaria, Maria Huertas
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Cual es el proceso?</p>
                  </a>
                </li>
                <!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Gerente, Camilo Gonzales
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Recordar Reunión</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Soporte, Acresar - System
                      <small><i class="fa fa-clock-o"></i> Today</small>
                    </h4>
                    <p>Tienes algun soporte?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Venta, Maria Corrado
                      <small><i class="fa fa-clock-o"></i> Yesterday</small>
                    </h4>
                    <p>Informe de ventas</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Desarrollo, Javier Matiz
                      <small><i class="fa fa-clock-o"></i> 2 days</small>
                    </h4>
                    <p>Recordatorio 1</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">Ver todo</a></li>
          </ul>
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">Tienes 10 notificaciones</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 integrantes nuevos
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur hic placeat 
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-users text-red"></i> 5 registros nuevos
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 ventas nuevas
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-user text-red"></i> Has cambiado tu nombre de usuario
                    </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">Ver todo</a></li>
          </ul>
        </li>
        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">Tienes 9 Tareas</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                      Tarea 1
                      <small class="pull-right">20%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% Completa</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                      Tarea 2
                      <small class="pull-right">40%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">40% Completa</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                      Tarea 3
                      <small class="pull-right">60%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">60% Completa</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                     Tarea 4
                      <small class="pull-right">80%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                        aria-valuemax="100">
                        <span class="sr-only">80% Completa</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">Ver todas las tareas</a>
            </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Raul Cuellar</span>
            </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                Raul Cuellar - Web Developer
                <small>Miembro desde Mar. 2018</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Datos</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Roles</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Contactos</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Cerrar Sesión</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
